/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 55px; /* Height of the fixed navbar */
}

/* Navbar */
.navbar {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.39);
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, sans-serif;
    transition: text-shadow 0.3s ease;
    user-select: none;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
    color: #fff;
    text-shadow: 
        0px 0px 5px rgb(255, 255, 255),
        0px 0px 10px rgb(255, 255, 255),
        0px 0px 20px rgb(255, 255, 255); /* Adicione mais sombras conforme necessário */
}


.navbar-brand:not(:hover):not(:focus):not(:active) {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

.navbar-brand::after {
    content: "|";
    margin-left: 20px;
    margin-right: 5px;
    color: #ffffff;
    width: 0px;
    text-shadow: none;
    user-select: none;
}

/* Home Page Specific */
.home-container {
    text-align: center;
    padding: 10px 20px;

}

.welcome-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    user-select: none;
}

.home-title {
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, sans-serif;
    color: #000000;
    margin-bottom: 20px;
    user-select: none;
    letter-spacing: 0px;
    display: inline-block; /* Adicionando display inline-block */
}

.home-title span {
    transition: 0.5s;
}

.home-title:hover span:nth-child(1) {
    margin-right: 10px;
}

.home-title:hover span:nth-child(2) {
    margin-right: 10px;
}
.home-title:hover span:nth-child(3) {
    margin-right: 10px;
}

.home-title:hover span:nth-child(4) {
    margin-right: 10px;
}
.home-title:hover span:nth-child(5) {
    margin-right: 10px;
}

.home-title:hover span:nth-child(6) {
    margin-right: 30px;
}
.home-title:hover span:nth-child(7) {
    margin-right: 10px;
}

.home-title:hover span:nth-child(8) {
    margin-right: 10px;
}
.home-title:hover span:nth-child(9) {
    margin-right: 10px;
}

.home-title:hover span:nth-child(10) {
    margin-right: 10px;
}
.home-title:hover span {
    color: #ffffff;
    text-shadow: 
        0 0 10px #00c3ff,
        0 0 20px #007bff,
        0 0 40px #007bff,
        0 0 80px #007bff,
        0 0 120px #007bff,
        0 0 160px #ff00f2;
}

.home-subtitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 50px;
    user-select: none;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    user-select: none;
}
.sobre-nos-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Espaçamento entre "Sobre Nós" e "Vantagens" */
    text-align: center; /* Centraliza o texto */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition for the pulse and shadow effect */
}

.sobre-nos-container:hover {

    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.185); /* Increase shadow size and change color */
}

.sobre-nos-container .section-title {
    color: #000000;
    margin-bottom: 20px;
    align-items: center;
    display: inline-block; /* Permite centralizar horizontalmente */
    font-family: Arial, sans-serif; /* Utilizando a mesma fonte das vantagens */
    font-weight: normal; /* Removendo o negrito apenas do texto */
}

.sobre-nos-container .section-title:before {
    content: "\f05a"; /* Código do ícone de "sobre nós" da Font Awesome */
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 28px;
    color: #007bff; /* Cor do ícone */
    font-weight: bold; /* Removendo o negrito apenas do texto */
}
.vantages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.vantages-block {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(45% - 20px); /* 45% width with space for the gap */
    max-width: calc(45% - 20px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition for the pulse and shadow effect */
}

.vantages-block:hover {
    transform: scale(1.05); /* Scale up for the pulse effect */
    box-shadow: 0px 0px 30px rgba(0, 123, 255, 0.5); /* Increase shadow size and change color */
}

.vantages-item {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center; /* Centraliza o texto */
    justify-content: center; /* Centraliza os itens */
}

.vantages-item i {
    margin-right: 10px;
    color: #007bff;
}

.vantages-item-description {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 24px;
        
    }
    .section-title {
        font-size: 20px;
    }

    .vantages-container {
        flex-direction: column;
        align-items: center;
    }

    .vantages-block {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 20px;
    }
    .section-title {
        font-size: 18px;
    }
    .notas{
        position: absolute;
        top: 13%;
    }
}

/* Forms */
.custom-textbox {
    margin-bottom: 10px;
}

.forgot-password {
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    text-align: right;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-form,
.register-form {
    width: 100%;
    max-width: 400px;
    margin-top: 25px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}


.mais{
font-size: 20px;
font-weight: 500;
padding: 4px 12px;
position: relative;
left: -10px;
top: -2px;
width: auto;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Custom Button */
.btn-custom {
    font-size: 20px;
    color: white !important;
    background-color: transparent;
    border: 5px solid transparent;
    font-family: 'Arial', sans-serif;
    transition: box-shadow 0.3s ease;
}

.btn-custom:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* Profile Picture */
.profile-picture {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px solid #ffffff85;
    transition: transform 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.1);
}

/* Remover a seta azul */
.profile-link::after {
    display: none;
}

/* Estilo base do dropdown */
.dropdown-menu {
    display: block;  /* Manter display block para permitir transições */
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px); /* Movê-lo um pouco para cima para o efeito de animação */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

/* Animação do dropdown ao passar o mouse */
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Restaurar a posição original */
}

/* Estilo para o item de logout */
.logout-item {
    background-color: rgb(255, 255, 255) !important; 
    color: red !important;
}
.logout-item:hover {
    background-color: rgba(255, 0, 0, 0.075) !important; /* Cor mais escura ao passar o mouse */
}
.dropdown-item {
    font-size: 16px;
    color: #000;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Background Gradient */
.bg-gradient {
    background-image: linear-gradient(to right, rgb(61, 242, 255), rgb(185, 99, 255));
}

/* Modal Animation */
.modal.fade .modal-dialog {
    transform: translate(0, -50%);
    transition: transform 0.3s ease-out, opacity 0.3s ease; /* Added opacity transition */
    opacity: 0; /* Initial opacity */
}

.modal.fade.show .modal-dialog {
    transform: translate(0, 0);
    opacity: 1; /* Show the modal with full opacity */
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.modal-backdrop.fade-effect {
    opacity: 0.5;
}

/* GAMBIARRA MONSTRA PRO FADE OUT DO MODAL FUNCIONAR*/
@keyframes fadeOut {
    from {
      opacity: 1;
      scale: 1;
    }
    to {
      opacity: 0;
      scale: 0.75;
    }
}

.animate__fadeOut {
    animation: fadeOut 0.25s forwards;
}

/*botão de pdf*/

.btn-custom-color {
    background-color: #7760bd;
    border-color: #7760bd;
    color: white;
  }
  .btn-custom-color:hover {
    background-color: #5e48a0;
    border-color: #5e48a0;
  }

  .error-message {
    color: red;
    font-size: 0.8em;
}

.error {
    display: block;
}

/* Adicionando efeito zebra */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; /* Cor de fundo para linhas ímpares */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Cor de fundo para linhas pares */
}

/* Estilo da tabela */
.container.notas {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.table-responsive {
    border-radius: 0px;
    overflow: hidden;
}

table {
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}
